$media: screen;
$desktop-max: 1920px;
$desktop-min: 1201px;
$tablet-max: 1200px;
$tablet-min: 601px;
$mobile-max: 600px;
$mobile-min: 320px;

$font: 'PT Sans', sans-serif;

$color-grey: #9b9b9b;
$color-black: #000000;
$color-red: #FF0D29;
$color-type: #232735;
$color-status-legal: #DD4C5D;
$color-status-bg-legal: #FFE4E4;
$color-status-individual: #0291C1;
$color-status-bg-individual: #D6F5FF;
$color-status-booked: #686868;
$color-status-bg-booked: #EDEDED;
$color-status-sold: #808080;
$color-status-bg-sold: #cccccc;
$color-border-checkbox: #c4c4c4;
$color-background-checkbox: #FCE66F;
$color-border-input: #C4C4C4;
$color-background-button: #E5E5E5;
$color-background-main: #F7F6F4;
$color-background-card: #FFFFFF;
$color-background-tooltip: #2D2D2D;
